main {
    width: 50rem;
    margin: 0 auto;
    background: url("images/george_washington.jpg") center/40% no-repeat, url("images/us_flag.jpg") center/cover;
}

h1 {
    font-size: 3rem;
    color: #ffd8be;
    padding-left: 10rem;
}

h2 {
    padding-top: 23rem;
    padding-left: 12rem;
    color: #e0e1dd;
    font-size: 2.4rem;
}

h1,
h2 {
    font-family: Roboto, sans-serif;
    font-weight: 100;
}

h2:hover {
    color: aqua;
    font-weight: 400;
    transform: translateY(-0.25em);
    cursor: pointer;
}

h1:hover {
    color: gold;
    font-weight: 400;
    transform: translateY(-0.1em);
    cursor: pointer;
}
